# Created by https://www.gitignore.io

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/com/longlinkislong/gloop/GLVec2D.java
src/com/longlinkislong/gloop/GLVec2F.java
src/com/longlinkislong/gloop/GLVec3D.java
src/com/longlinkislong/gloop/GLVec3F.java
src/com/longlinkislong/gloop/GLVec4F.java
src/com/longlinkislong/gloop/GLVec4D.java
src/com/longlinkislong/gloop/GLVecNF.java
src/com/longlinkislong/gloop/GLVecND.java
src/com/longlinkislong/gloop/MappedVec2D.java
src/com/longlinkislong/gloop/MappedVec2F.java
src/com/longlinkislong/gloop/MappedVec3D.java
src/com/longlinkislong/gloop/MappedVec3F.java
src/com/longlinkislong/gloop/MappedVec4D.java
src/com/longlinkislong/gloop/MappedVec4F.java
src/com/longlinkislong/gloop/MappedVecND.java
src/com/longlinkislong/gloop/MappedVecNF.java
src/com/longlinkislong/gloop/StaticVec2D.java
src/com/longlinkislong/gloop/StaticVec2F.java
src/com/longlinkislong/gloop/StaticVec3D.java
src/com/longlinkislong/gloop/StaticVec3F.java
src/com/longlinkislong/gloop/StaticVec3D.java
src/com/longlinkislong/gloop/StaticVec4F.java
src/com/longlinkislong/gloop/StaticVec4D.java
src/com/longlinkislong/gloop/StaticVecNF.java
src/com/longlinkislong/gloop/StaticVecND.java
src/com/longlinkislong/gloop/Vectors.java

src/com/longlinkislong/gloop/GLMat2D.java
src/com/longlinkislong/gloop/GLMat2F.java
src/com/longlinkislong/gloop/GLMat3D.java
src/com/longlinkislong/gloop/GLMat3F.java
src/com/longlinkislong/gloop/GLMat4F.java
src/com/longlinkislong/gloop/GLMat4D.java
src/com/longlinkislong/gloop/GLMatNF.java
src/com/longlinkislong/gloop/GLMatND.java
src/com/longlinkislong/gloop/MappedMat2D.java
src/com/longlinkislong/gloop/MappedMat2F.java
src/com/longlinkislong/gloop/MappedMat3D.java
src/com/longlinkislong/gloop/MappedMat3F.java
src/com/longlinkislong/gloop/MappedMat4D.java
src/com/longlinkislong/gloop/MappedMat4F.java
src/com/longlinkislong/gloop/MappedMatND.java
src/com/longlinkislong/gloop/MappedMatNF.java
src/com/longlinkislong/gloop/StaticMat2D.java
src/com/longlinkislong/gloop/StaticMat2F.java
src/com/longlinkislong/gloop/StaticMat3D.java
src/com/longlinkislong/gloop/StaticMat3F.java
src/com/longlinkislong/gloop/StaticMat3D.java
src/com/longlinkislong/gloop/StaticMat4F.java
src/com/longlinkislong/gloop/StaticMat4D.java
src/com/longlinkislong/gloop/StaticMatNF.java
src/com/longlinkislong/gloop/StaticMatND.java
src/com/longlinkislong/gloop/Matrices.java
